/* Base / Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f4f5f9;
    color: #1913da;
}

/* Container */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-left:; 
}

/* Header */
header{
    background: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header .logo{
    font-size: 2.8rem;
    font-weight: bold;
    color: #120c8a;
     margin-right: auto;
    padding: 0;
    
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

header nav ul li a{
    text-decoration: none;
    color: #f5f4f4;
    background-color:rgb(23, 30, 240);
    border-radius:5px;
    border: 2px solid black;
    padding: 20px 50px;
    font-weight: 500;
    transition: 0.3s;
    font-size: 25px;
}

header nav ul li a:hover{
    background-color: black;
}

/* Hero Section */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 5%;
    background: #e5e0ff;
}

.hero-content{
    max-width: 550px;
}

.hero-content h1{
    font-size: 3rem;
    margin-bottom: 20px;
    color: black;
}

.hero-content h1 span{
    color: #2a16e5;
}

.hero-content p{
    font-size: 1.5rem;
    margin-bottom: 30px;
    color:rgb(18, 17, 17);
}

.btn-primary{
    padding: 20px 60px;
    background: #2015ec;
    color: #f0eded;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 2rem;
    transition: 0.3s;
}

.btn-primary:hover{
    background: #121111;
}

.hero-image img{
    width: 500px;
}

/* About Section */
.about{
    text-align: center;
    padding: 100px 0;
}

.about h2{
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #2d11cd;
}

.about p{
    font-size: 1.55rem;
    max-width: 700px;
    margin: 0 auto;
    color: #191717;
}

/* Services Section */
.services{
    text-align: center;
    padding: 100px 0;
}

.services h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #e5e4f4;
    background-color: #1f1f1f;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid orangered;
}

.service-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    background:blue;
    padding: 30px 20px;
    border-radius: 15px;
    width: 280px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
    color: white;
    border: 3px solid rgb(10, 9, 9);
    font-size: 1.1rem;
}

.card i{
    font-size: 3.5rem;
    color: #f0eff7;
    margin-bottom: 15px;
}

.card h3{
    font-size: 2.50rem;
    margin-bottom: 10px;
}

.card p{
    font-size: 0.95rem;
    color: #e2dede;
    font-size: 1.50rem;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

/* Portfolio Section */
.portfolio{
    padding: 100px 0;
    text-align: center;
}

.portfolio h2{
    font-size: 3.5rem;
    margin-bottom: 50px;
    color: #4f46e5;
}

.portfolio-grid{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item img{
    width: 280px;
    border-radius: 15px;
}

/* Testimonials Section */
.testimonials{
    padding: 100px 0;
    background: #e5e0ff;
    text-align: center;
}

.testimonials h2{
    font-size: 3.5rem;
    margin-bottom: 50px;
    color: #4f46e5;
}

.testimonial-cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial-card{
    background: white;
    padding: 30px 20px;
    width: 300px;
    border-radius: 15px;
    border: 3px solid rgb(16, 16, 16);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    font-size: 1.10rem;
}

.testimonial-card h4{
    margin-top: 15px;
    color: #4f46e5;
    font-size: 1.40rem;
}

/* Contact Section */
.contact{
    padding: 100px 0;
    text-align: center;
}

.contact h2{
    font-size: 3.5rem;
    margin-bottom: 30px;
    color: #4f46e5;
    letter-spacing: 2px;
}

.contact form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 13px;
    
}

.contact input, .contact textarea{
    padding: 12px;
    border-radius: 8px;
    border: 3px solid #080707;
    font-size: 1.5rem;
    width: 100%;
}

.contact button{
    padding: 14px;
    border: none;
    border-radius: 50px;
    background: #4f46e5;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Footer */
footer{
    background: #100f0f;
    color: rgb(245, 231, 231);
    padding: 40px 0;
    text-align: center;
    font-size: 1.8rem;
    border: 4px solid black;
    border-radius: 5px;
}

footer .social-icons{
    margin-top: 15px;
}

footer .social-icons a{
    color: white;
    margin: 0 10px;
    font-size: 2.2rem;
}

/* Responsive */
@media(max-width: 900px){
    .hero{
        flex-direction: column-reverse;
        text-align: center;
        gap: 50px;
    }

    .hero-image img{
        width: 300px;
    }

    .service-cards, .testimonial-cards, .portfolio-grid{
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
}
